@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?c9lvq6');
  src:  url('icomoon.eot?c9lvq6#iefix') format('embedded-opentype'),
    url('icomoon.ttf?c9lvq6') format('truetype'),
    url('icomoon.woff?c9lvq6') format('woff'),
    url('icomoon.svg?c9lvq6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paw:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
